# java options

java_path = /usr/bin/java
java_options = -Xss1024M -Xms1024M -Xmx28G -Xshare:off -Dfile.encoding=UTF-8

# paths to sources and jars
evacsim_dir = /home/min/a/cgusthin/codes/doe-mets-r/EvacSim/
groovy_dir = /home/min/a/cgusthin/workspace/DOE_installs/eclipse/plugins/org.codehaus.groovy_2.4.17.v201909291548-e1809-RELEASE/
repast_plugin_dir = /home/min/a/cgusthin/workspace/DOE_installs/eclipse/plugins/repast.simphony.runtime_2.7.0/

# simulation options
num_sim_instances = 5
#socket_port_numbers = 34359,34433,35007,36509,37171,37207,38747,38932,40481,42541,42824,43550,44033,44908,46242,47435
socket_port_numbers = 34359,34433,35007,36509,37171
num_of_evs = 1,2,3,4,5
